
[*]

# Standard properties
insert_final_newline = false

# Microsoft .NET properties
csharp_indent_braces = false
csharp_new_line_before_open_brace = anonymous_methods,anonymous_types,control_blocks,lambdas,local_functions,methods,object_collection_array_initalizers,types
csharp_preferred_modifier_order = private, public, protected, internal, file, new, static, abstract, virtual, sealed, override, unsafe, extern, readonly, volatile, async, required:suggestion
csharp_style_var_elsewhere = false:suggestion
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = false:suggestion
dotnet_sort_system_directives_first = false

# ReSharper properties
resharper_blank_lines_after_multiline_statements = 1
resharper_blank_lines_before_control_transfer_statements = 1
resharper_blank_lines_before_multiline_statements = 1
resharper_braces_for_for = required
resharper_braces_for_foreach = required
resharper_braces_for_ifelse = required
resharper_csharp_blank_lines_around_single_line_invocable = 1
resharper_csharp_case_block_braces = end_of_line
resharper_csharp_empty_block_style = multiline
resharper_csharp_max_line_length = 300
resharper_instance_members_qualify_declared_in = 
resharper_method_or_operator_body = expression_body
resharper_parentheses_redundancy_style = remove
resharper_place_expr_method_on_single_line = true
resharper_place_simple_anonymousmethod_on_single_line = false
resharper_place_simple_initializer_on_single_line = false
resharper_simple_block_style = line_break
resharper_toplevel_function_definition_return_type_style = on_single_line
resharper_wrap_after_invocation_lpar = false
resharper_wrap_arguments_style = wrap_if_long
resharper_wrap_array_initializer_style = chop_if_long
resharper_wrap_before_binary_opsign = false
resharper_wrap_before_expression_rbrace = false
resharper_wrap_before_invocation_rpar = false
resharper_wrap_chained_binary_expressions = chop_if_long
resharper_wrap_chained_method_calls = wrap_if_long
