[submodule "catalyst"]
	path = catalyst
	url = https://github.com/terraria-catalyst/catalyst.git
[submodule "src/tModLoader"]
	path = src/tModLoader
	url = https://github.com/terraria-catalyst/tModLoader
