.vs/
.vscode/
.idea/
.catalyst/
.setup/

bin/
obj/

*.user

# Ignore symlinked patches from the tModLoader repository.
patches/GoG
patches/Terraria
patches/TerrariaNetCore
patches/tModLoader

# Staging source files.
src/staging/

# You should figure out a better way to ignore these.
# Should they even be ignored?
EasyXnb.*
Microsoft.Xna.Framework.*
