[submodule "catalyst"]
	path = catalyst
	url = https://github.com/terraria-catalyst/catalyst.git
[submodule "src/Terraria.ModLoader"]
	path = src/Terraria.ModLoader
	url = https://github.com/tModLoader/tModLoader
